{% extends 'base.html.twig' %}

{% block title %}Hello AllAnnonceController!{% endblock %}

{% block body %}
         {{ include('/_header.html.twig') }}
        <div class="row" style="margin-top:25px;margin-left:25px;">
            {% for annonce in annonces %}
                <div class="col-md-2">
                    <h6>{{ annonce.titre }}</h6>
                    <p>{{ annonce.dateAnnonce|date('d/m/Y') }}</p>
                        <a href="#" style="float:right;" role="button" class="btn btn-primary">voir les détails</a>   
                </div>
        
            {% endfor %}
        </div>
{% endblock %}
