{% extends 'base.html.twig' %}

{% block title %}Hello AllDocumentController!{% endblock %}

{% block body %}
        {{ include('/_header.html.twig') }}
        <div class="row" style="margin-top:25px;margin-left:25px;">
            {% for document in documents %}
                <div class="col-md-2">
                    
                    <div class="card" style="width: 12rem; mb-4">
                        <img src="{{ asset('uploads/images/' ~ document.image) }}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text"> Prénom:{{ document.proprietaire.prenom }} </p>
                            <p class="card-text"> Nom:{{ document.proprietaire.nom }}</p>
                            <a href="#" role="button" class="btn btn-primary">Réclamer</a>
                            <a href="#" style="float:right;">afficher</a>
                    
                        </div>
                    
                    </div>
                
                </div>
        
            {% endfor %}
        </div>
{% endblock %}
